name: docs

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        working-directory: ./python
        run: |
          pip install -e .[doc]

      - name: Deploy docs
        working-directory: ./python
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git fetch origin gh-pages --depth=1
          mike deploy --push --update-aliases ${{ github.ref_name }} latest
          mike set-default --push latest
