name: tests

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  pre_commit:
    uses: ./.github/workflows/pre-commit.yml

  tests:
    needs: pre_commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        working-directory: ./python
        run: |
          pip install -e .[all]

      - name: Run tests
        working-directory: ./python
        run: pytest -s -v tests
